.login-btn{
	color: #f2a365 !important; /*!important overrides bootstrap style*/
	background-color: #30475e !important;
}

.default-text{
	color: #ececec;
	font-family: Verdana;
}

@media screen and (min-resolution: 120dpi) { 
    /*body {transform: scale(0.8);width: 125%;height: 125%;margin-left: -12.5%;}*/
    body {transform: scale(0.80);transform-origin:top left;width: 125%;height: 125%;}
}